<!DOCTYPE html>
<body>
проверка работы шаблона подстановки
    <h1>Привет, {{Title}}, тестировщик!</h1>
    <li>{{par1}} параметр №1</li>
    <li>{{par2}} параметр №2</li>
    <li>{{par3}} параметр №3</li>
    <li>{{hostname}} - HOSTNAME</li>

</body>
</html>